.header{
            text-align: center;
            } 
.navbar {
            max-height: 57px; 
}

.navbar-brand {
            max-height: 54px; 
            object-fit: contain;
            background:url('logo.png') min-height:53px no-repeat center center #34383c; position:relative; top:-15px;
            }

body {
          background: url('/thai_files/temple.jpg'); aria:center;
}

.navbar-collapse {
          background:#34383c; width:100%;
}

img {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}

.footer {
   font-family: 'Ubuntu', sans-serif;
}
.footh {
  font-family: 'Londrina Outline', cursive;
  font-size: 24pt;
}

/*@media(min-width:897px){
            #header-e3 {float: right; height: 200px; width: 100%;
            background:url('http://nedthairestaurant.com/thai_files/home.jpg') no-repeat center center #34383c;
              }*/
}