#main { width:1000px; margin:0px auto; }

.column-1, .column-2, .column-3 {float:left; width:1000px; background-color:#FFFFFF;}
.column-1 .column1{
	float:left;
	width:1000px;
	height:313px;
	background-image:url('/thai_files/header0.jpg');
	background-repeat:no-repeat;
}
.column-1 .column1 .col1{float:right; width:500px; height:20px; margin:33px 21px 0 0; }
.column-1 .column1 .col2{
	float:right;
	width:500px;
	height:232px;
}
.column-1 .column1 .col3{float:right; width:1000px; height:20px;  }






.column-3 .column1{float:left; width:1000px; height:40px; border-top:1px solid #d8d6bc; margin:0 00px 0 0;}
.column-3 .column1 .col1{float:left; height:20px; width:980px; margin:10px 20px 0 0;} 


/* index */

#index .column-2 .column1{float:left; width:963px; padding:10px 0 10px 16px; }

#index .column-2 .column1 .col1{float:left; width:163px;  }
#index .column-2 .column1 .col2{float:left; width:580px; padding:0px 10px 0px 10px; }
#index .column-2 .column1 .col3{float:right; width:200px; }
